Repository narrative-io/narrative-llm-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, ruff-format, pytest, check-version

mypy:
  name: mypy
  entry: uv run mypy . --strict
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check . --fix
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run pytest
  language: system
  pass_filenames: false

check-version:
  name: Check version format
  entry: .venv/bin/python -c 'import sys, tomli; from packaging.version import parse; parse(tomli.load(open("pyproject.toml", "rb"))["project"]["version"])'
  language: system

[create-pull-request] automated change
  README.md
  pyproject.toml
  release_notes.md
Due: check-version

wip: grpo
  narrative_llm_tools/reward_functions/cot_with_tool_call/__init__.py
  narrative_llm_tools/utils/__init__.py
  narrative_llm_tools/utils/dataset_transformers.py
  narrative_llm_tools/utils/types.py
  tests/reward_functions/cot_with_tool_call/test_format.py
  uv.lock
Due: mypy, ruff, ruff-format, pytest

chore: add test for transformation
  .gitignore
  narrative_llm_tools/utils/dataset_transformers.py
  pyproject.toml
  tests/utils/test_dataset_transformers.py
  uv.lock
Due: mypy, ruff, ruff-format, pytest, check-version

chore: add reward adjustment for shorter responses on correct answers
  narrative_llm_tools/reward_functions/cot_with_tool_call/__init__.py
  tests/reward_functions/cot_with_tool_call/test_reward_adjustments.py
Due: mypy, ruff, ruff-format, pytest

chore: test reward function with real trainer
  docs/reward_functions/index.md
  narrative_llm_tools/reward_functions/cot_with_tool_call/__init__.py
  pyproject.toml
  tests/reward_functions/cot_with_tool_call/test_format.py
  tests/reward_functions/test_reward_functions_from_trainer.py
  uv.lock
Due: mypy, ruff, ruff-format, pytest, check-version

test: add conversation validation tests
  tests/state/test_additional_conversation.py
Due: mypy, ruff, ruff-format, pytest

docs: add development guide in CLAUDE.md
  CLAUDE.md
Due: none

docs: add workflow best practices to CLAUDE.md
  CLAUDE.md
Due: none

test: add GRPO dataset transformers tests
  tests/utils/test_dataset_transformers.py
Due: mypy, ruff, ruff-format, pytest

fix: improve log checking in API client tests
  tests/rest_api_client/test_rest_api_client.py
Due: mypy, ruff, ruff-format, pytest

feat: improve Python version compatibility
  .github/workflows/python-versions-test.yml
  CLAUDE.md
  pyproject.toml
Due: check-version

fix: update workflow to properly use virtual environment
  .github/workflows/python-versions-test.yml
Due: none

docs: add template documentation and Chain of Thought template
  docs/templates/index.md
  narrative_llm_tools/templates/narrative_chat_template_cot.j2
Due: none

docs: improve and expand documentation with comprehensive guides
  docs/development/code-style.md
  docs/development/contributing.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/guides/conversation-state.md
  docs/guides/json-schema-tools.md
  docs/guides/rest-api-client.md
  docs/index.md
  mkdocs.yml
Due: none

docs: add HuggingFace Space submodule documentation
  .gitmodules
  CLAUDE.md
  README.md
Due: none

chore: exclude HF space from formatting rules and update submodule
  pyproject.toml
  uv.lock
Due: check-version

chore: update HF space submodule URL to SSH format
  .gitmodules
Due: none

fix: downgrade torch to 2.2.0 for compatibility, update transformers to 4.48.0
  pyproject.toml
  uv.lock
Due: check-version

chore: upgrade torch
  pyproject.toml
  uv.lock
Due: check-version

feat: add 14 day delay to renovate package upgrade PRs
  renovate.json
Due: none

feat: add 14 day delay to renovate package upgrade PRs (#45)
  renovate.json
Due: none

chore: pin GitHub Actions to full commit SHAs (sc-62800)
  .github/dependabot.yml
  .github/workflows/backup-daily.yml
  .github/workflows/codeql.yml
  .github/workflows/pypi-release.yml
  .github/workflows/release.yml
  .github/workflows/tag_and_release.yml
Due: none

chore: pin GitHub Actions to full commit SHAs (sc-62800) (#48)
  .github/dependabot.yml
  .github/workflows/backup-daily.yml
  .github/workflows/codeql.yml
  .github/workflows/pypi-release.yml
  .github/workflows/release.yml
  .github/workflows/tag_and_release.yml
Due: none

chore: make renovate the sole actions bot with a universal 14-day cooldown (sc-63552)
  .github/dependabot.yml
  renovate.json
Due: none

chore: make renovate the sole actions bot with a universal 14-day cooldown (sc-63552) (#58)
  .github/dependabot.yml
  renovate.json
Due: none

ci: [SC-66825] run zizmor and fix GitHub Actions findings
  .github/workflows/backup-daily.yml
  .github/workflows/codeql.yml
  .github/workflows/pypi-release.yml
  .github/workflows/release.yml
  .github/workflows/tag_and_release.yml
  .github/workflows/zizmor.yml
Due: none

ci: [SC-66825] run zizmor and fix GitHub Actions findings (#60)
  .github/workflows/backup-daily.yml
  .github/workflows/codeql.yml
  .github/workflows/pypi-release.yml
  .github/workflows/release.yml
  .github/workflows/tag_and_release.yml
  .github/workflows/zizmor.yml
Due: none

chore(ci): [SC-73841] remove per-repo backup workflow
  .github/workflows/backup-daily.yml
Due: none

chore(ci): [SC-73841] remove per-repo backup workflow (#62)
  .github/workflows/backup-daily.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  ruff: any of: \.py$
  ruff-format: any of: \.py$, \.ipynb$
  pytest: any of: \.py$
  check-version: any of: ^pyproject\.toml$
