Repository narrative-io/narrative-llm-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest, check-version

mypy:
  name: mypy
  entry: uv run mypy . --strict
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run pytest
  language: system
  pass_filenames: false

check-version:
  name: Check version format
  entry: .venv/bin/python -c 'import sys, tomli; from packaging.version import parse; parse(tomli.load(open("pyproject.toml", "rb"))["project"]["version"])'
  language: system

chore: update reward function (wip)
  narrative_llm_tools/reward_functions/cot_with_tool_call/format.py
  tests/reward_functions/cot_with_tool_call/test_format.py
Due: mypy, pytest

security: fix problematic regex
  narrative_llm_tools/reward_functions/cot_with_tool_call/format.py
Due: mypy, pytest

chore: lint
  .pre-commit-config.yaml
  narrative_llm_tools/reward_functions/cot_with_tool_call/format.py
Due: mypy, pytest

test: fix tests
  narrative_llm_tools/reward_functions/cot_with_tool_call/format.py
  tests/reward_functions/cot_with_tool_call/test_format.py
Due: mypy, pytest

feat: grpo reward functions
  narrative_llm_tools/reward_functions/__init__.py
  narrative_llm_tools/reward_functions/cot_with_tool_call/format.py
  narrative_llm_tools/reward_models/json_similarity_reward_model.py
  tests/reward_functions/cot_with_tool_call/test_format.py
  tests/reward_models/test_json_similarity_reward_model.py
Due: mypy, pytest

chore: lint
  .pre-commit-config.yaml
  narrative_llm_tools/reward_functions/cot_with_tool_call/format.py
  tests/reward_functions/cot_with_tool_call/test_format.py
  tests/reward_functions/cot_with_tool_call/test_tool_calls_validity_reward.py
Due: mypy, pytest

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

security: fix regex
  .pre-commit-config.yaml
  narrative_llm_tools/cli/cli.py
  narrative_llm_tools/reward_functions/cot_with_tool_call/format.py
  narrative_llm_tools/state/conversation.py
Due: mypy, pytest

feat: reward model for json similarity (#15)
  .pre-commit-config.yaml
  narrative_llm_tools/cli/cli.py
  narrative_llm_tools/reward_functions/__init__.py
  narrative_llm_tools/reward_functions/cot_with_tool_call/format.py
  narrative_llm_tools/state/conversation.py
  pyproject.toml
  tests/reward_functions/cot_with_tool_call/test_format.py
  tests/reward_functions/cot_with_tool_call/test_tool_calls_validity_reward.py
  uv.lock
Due: mypy, pytest, check-version

chore: update release workflow to include pr
  .github/workflows/release.yml
  .github/workflows/tag_and_release.yml
Due: none

chore: update release workflow to include pr (#17)
  .github/workflows/release.yml
  .github/workflows/tag_and_release.yml
Due: none

ci: run codql on pr, but not push to main
  .github/workflows/codeql.yml
Due: none

ci: codeql not on push to main (#19)
  .github/workflows/codeql.yml
Due: none

ci: remove main commit
  .github/workflows/release.yml
Due: none

ci: remove main commit (#20)
  .github/workflows/release.yml
Due: none

[create-pull-request] automated change
  release_notes.md
Due: none

ci: fix version updates
  .github/workflows/release.yml
Due: none

ci: update sed commands
  .github/workflows/release.yml
  README.md
  pyproject.toml
Due: check-version

ci: fix tagging and version update process (#22)
  .github/workflows/release.yml
  README.md
  pyproject.toml
Due: check-version

ci: prevent duplicate branches
  .github/workflows/release.yml
Due: none

ci: configure github user
  .github/workflows/tag_and_release.yml
Due: none

ci: configure github user (#23)
  .github/workflows/release.yml
  .github/workflows/tag_and_release.yml
Due: none

[create-pull-request] automated change
  README.md
  pyproject.toml
  release_notes.md
Due: check-version

ci: give pr action appropriate permissions
  .github/workflows/release.yml
Due: none

docs: start docs w/mkdocs
  docs/index.md
  docs/reward_functions/index.md
  mkdocs.yml
  narrative_llm_tools/reward_functions/cot_with_tool_call/format.py
  uv.lock
Due: mypy, pytest

chore: add mkdocs to dev dependencies
  pyproject.toml
  uv.lock
Due: check-version

Deployed c4c566e with MkDocs version: 1.6.1
  .nojekyll
  404.html
  css/base.css
  css/bootstrap.min.css
  css/bootstrap.min.css.map
  css/brands.min.css
  css/fontawesome.min.css
  css/solid.min.css
  css/v4-font-face.min.css
  img/favicon.ico
  img/grid.png
  index.html
  js/base.js
  js/bootstrap.bundle.min.js
  js/bootstrap.bundle.min.js.map
  js/darkmode.js
  reward_functions/index.html
  search/lunr.js
  search/main.js
  search/search_index.json
  search/worker.js
  sitemap.xml
  sitemap.xml.gz
  webfonts/fa-brands-400.ttf
  webfonts/fa-brands-400.woff2
  webfonts/fa-regular-400.ttf
  webfonts/fa-regular-400.woff2
  webfonts/fa-solid-900.ttf
  webfonts/fa-solid-900.woff2
  webfonts/fa-v4compatibility.ttf
  webfonts/fa-v4compatibility.woff2
Due: none

docs: start docs w/mkdocs (#25)
  docs/index.md
  docs/reward_functions/index.md
  mkdocs.yml
  narrative_llm_tools/reward_functions/cot_with_tool_call/format.py
  pyproject.toml
  uv.lock
Due: mypy, pytest, check-version

chore: pypi workflow
  .github/workflows/pypi-release.yml
  pyproject.toml
Due: check-version

chore: remove greetings
  .github/workflows/greetings.yml
Due: none

feat: monkeypatch transformers jinja2
  narrative_llm_tools/__init__.py
  narrative_llm_tools/integrations/axolotl/__init__.py
  narrative_llm_tools/integrations/axolotl/args.py
  narrative_llm_tools/patches/__init__.py
  pyproject.toml
  uv.lock
Due: mypy, pytest, check-version

chore: allow 3.12 point releases
  pyproject.toml
Due: check-version

chore: allow 3.12 point releases (#28)
  pyproject.toml
Due: check-version

chore: revert to torch 2.5.1
  pyproject.toml
Due: check-version

chore: revert to torch 2.5.1 (#29)
  pyproject.toml
Due: check-version

chore: update lockfile
  uv.lock
Due: none

chore: pypi workflow (#26)
  .github/workflows/greetings.yml
  .github/workflows/pypi-release.yml
  pyproject.toml
Due: check-version

fix: export reward functions
  narrative_llm_tools/__init__.py
  narrative_llm_tools/reward_functions/cot_with_tool_call/__init__.py
  tests/reward_functions/cot_with_tool_call/test_format.py
  tests/reward_functions/cot_with_tool_call/test_tool_calls_validity_reward.py
Due: mypy, pytest

fix: export reward functions (#32)
  narrative_llm_tools/__init__.py
  narrative_llm_tools/reward_functions/cot_with_tool_call/__init__.py
  tests/reward_functions/cot_with_tool_call/test_format.py
  tests/reward_functions/cot_with_tool_call/test_tool_calls_validity_reward.py
  uv.lock
Due: mypy, pytest

Path conditions:
  mypy: any of: \.py$
  pytest: any of: \.py$
  check-version: any of: ^pyproject\.toml$
